/* --- Cookie Popup Styles --- */
.cookie_popup{
    display: flex;          
    flex-direction: column;    
    align-items: center;    
    justify-content: center;  
    gap: 0px;
    font: 1.2rem "Fira Sans", sans-serif;
    border-radius: 80%;
}
.cookie_popup > div{
    display: flex;      
    align-items: center;      
    justify-content: center;  
    gap: 20px;
    background-color: white;
    font: 1.2rem "Fira Sans", sans-serif;
    border-radius: 80%;
    padding: 20px;
}
.cookie_popup > p{
    margin: auto;
    text-align: center;
}
#accept_cookies_button{
    gap: 20px;
    background-color: white;
    font: 1.2rem "Fira Sans", sans-serif;
    border-radius: 6px;
    display: flex;            
    align-items: center;      
    justify-content: center;
}
#accept_cookies_button:hover {
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s;
}
/* --- Cookie Popup Section Styles --- */
#cookiePopup{
    border: 8px solid grey;
    border-radius: 30px;
    max-width: 350px;
    width: auto;
    margin: 10px auto;
    background-color: whitesmoke;
    position: fixed;
    bottom: 800px;
    right: 780px;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    width: auto;
}
#cookiePopup.hidden {
    display: none;
}