body {
    background-color: white;
    background-image: "https://wallpapers.com/images/hd/black-gradient-pydkw8tuzxkwntw9.jpg";
}
p{
    border-radius: 2%;
    border-color: grey;
    display: flex;            
    align-items: center;      
    justify-content: center;
    font: 1.2rem "Fira Sans", sans-serif;
}
.feedback_textarea_tab{
    resize:none;
}
.error {
    border-color: red !important;
}