/* --- Login/Signup Display --- */
.loginSignupTab{
    display: flex;  
    margin: auto;          
    align-items: center;      
    justify-content: center;  
    gap: 20px;
    background-color: white;
    font: 1.2rem "Fira Sans", sans-serif;
    width: 840px;
}
.loginSignupTab > div{
    color: black;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid black;
    transition: background-color 0.3s;
    border-color: grey;
}
.loginSignupTab > div.active{
    font-weight: bold;
    border-bottom: 2px solid black
}
.loginSignupTab > div:not(.active):hover{
    background-color: #f0f0f0;
}
/* --- Login/Signup content Styles --- */
.login_signup_content_container {
    max-width: 800px;
    width: auto;
    margin: 10px auto;
    padding: 20px;
    background-color: black;
    display: flex;            
    align-items: center;      
    justify-content: center;
    color: white;
    font: 1.2rem "Fira Sans", sans-serif;
}
.login_signup_content {
    display: none; 
}
.login_signup_content.active {
    display: block;
}