/* --- Tab Bar overall Styles --- */
#tabBarDisplay{
    border: 8px solid grey;
    border-radius: 30px;
    max-width: 550px;
    width: auto;
    margin: 10px auto;
    background-color: white;
}
.tabBar{
    display: flex;            
    align-items: center;      
    justify-content: center;  
    gap: 20px;
    background-color: white;
    font: 1.2rem "Fira Sans", sans-serif;
    border-radius: 80%;
}
.tabBar > div{
    color: black;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid black;
    transition: background-color 0.3s;
    border-color: grey;
}
.tabBar > div.active{
    font-weight: bold;
    border-bottom: 2px solid black
}
.tabBar > div:not(.active):hover{
    background-color: #f0f0f0;
}
/* --- Tab Content Area Styles --- */
.tabContentContainer {
    max-width: 800px;
    width: auto;
    margin: 10px auto;
    padding: 20px;
    background-color: black;
    display: flex;            
    align-items: center;      
    justify-content: center;
    color: white;
    font: 1.2rem "Fira Sans", sans-serif;
}
.tabContent {
    display: none; 
}
.tabContent.active {
    display: block;
}