body {
    background-color: white;
    background-image: url(https://i.pinimg.com/originals/76/3f/a8/763fa8a647979f70d292b4167ec62b47.jpg);
    background-size: cover;
}
p{
    border-radius: 2%;
    border-color: grey;
    display: flex;            
    align-items: center;      
    justify-content: center;
    font: 1.2rem "Fira Sans", sans-serif;
}
.feedbackTextareaTab{
    resize:none;
}
.error {
    border-color: red !important;
}