.droplistButtonTab1 {
    border-color: aqua;
    border-radius: 10px;
    background-color: aquamarine;
    cursor: pointer;
}
.droplistTab1 {
    border-color: blue;
    border-radius: 10px;
    background-color: coral;
    padding: 5px 10px;
}
.droplistContentTab1 {
    display: none;
}
.droplistContentTab1.active {
    display: block;
}
.droplistContentTab1.active > li:hover {
    font-style: italic;
}